# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform*

# .tfplan
*.tfplan

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*/certs/*.crt*
*/certs/*.key*
*/certs/*.csr*
*/certs/*.conf*
*/values.yaml
*/cloud/ransomware/*.b64
*/cloud/ransomware/*.bin

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
ctfd/ctfd_data/filesystem_cache/1e03df0d3a7e2368d3096d537aac8593
ctfd/ctfd_data/filesystem_cache/1e78eaa30205f59608a90b276bc02108
ctfd/ctfd_data/filesystem_cache/4e4a6eec537d26b7ef7c36afa821eec0
ctfd/ctfd_data/filesystem_cache/6b504cd93b4b2815fd77c5884d221962
ctfd/ctfd_data/filesystem_cache/6d3eefcbd3ada7a56dd9848445ef8481
ctfd/ctfd_data/filesystem_cache/6ff32de5ca32095a6d980e645e2def4b
ctfd/ctfd_data/filesystem_cache/33adae43bd2ca132551c9a6ccdbb9067
ctfd/ctfd_data/filesystem_cache/33ca4dfa130f6f7f6e25d8225e0237c3
ctfd/ctfd_data/filesystem_cache/46dcb35a8c304aca6fd147ef4beb2df8
ctfd/ctfd_data/filesystem_cache/52fbb6fa358c01135e0769d2a5a2ff96
ctfd/ctfd_data/filesystem_cache/351a2977335afd78380338bad202886e
ctfd/ctfd_data/filesystem_cache/897ab63a42d4b32e25fbab2d1c736c14
ctfd/ctfd_data/filesystem_cache/14797cb629f98ce97975a358ac36a938
ctfd/ctfd_data/filesystem_cache/863975b15b07311354bc358b79a92b4f
ctfd/ctfd_data/filesystem_cache/64123363ac687868de35566b5a6ef983
ctfd/ctfd_data/filesystem_cache/a94bbbdd0524bfcc41e726477939a6bf
ctfd/ctfd_data/filesystem_cache/aa30dbbc8c94ce412c5af7b0f7091732
ctfd/ctfd_data/filesystem_cache/b1e7aacebccfcbc33408de2518263cc5
ctfd/ctfd_data/filesystem_cache/cf129d1a9765a1b0ed69fde2d3d0e5d5
ctfd/ctfd_data/filesystem_cache/d49973b9b291c6ed0ad2c91fa61c1592
ctfd/ctfd_data/filesystem_cache/e7a80798d861df2dc99fb164f7ea9c2b
ctfd/ctfd_data/filesystem_cache/ef033c41db7965cd3959fc0ff172ad1b
ctfd/ctfd_data/filesystem_cache/ff823ce252baf366baf2d7ab09c68c93
