################################################################################################
# GLOBAL VARIABLES - These variables are shared amoungst multiple workspaces
# Note: The examples below could also be workspace specific
################################################################################################

################################################################################################
# JIRA
# Required only when enabling Lacework alerting
################################################################################################

# jira_cloud_api_token = "xxxxx"
# jira_cloud_username = "xxxxx"
# jira_cloud_project_key = "xxxxx"
# jira_cloud_issue_type = "xxxxx"
# jira_cloud_url = "https://xxxxx.atlassian.net"


################################################################################################
# SLACK
# Required only when enabling Lacework alerting
################################################################################################

# slack_token = "https://hooks.slack.com/services/xxxxx"

