jira_cloud_api_token = "xxxxxx"
jira_cloud_username = "xxxxxx"
jira_cloud_project_key = "xxxxxx"
jira_cloud_issue_type = "xxxxxx"
jira_cloud_url = "https://xxxxxx.atlassian.net"
slack_token = "https://hooks.slack.com/services/xxxxxx"
proxy_token = "xxxxxx"
lacework_profile = "xxxxxx"
lacework_account_name = "xxxxxx"
lacework_server_url = "https://xxxxxx.lacework.net"