{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.2/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.22.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style type='text/css'>
  .row-index {
    width: 50px;
    display: inline-block;
  }
</style>
{% endblock %}
{% block body %}
  <script type='text/javascript'>
    $(window).on('load', function(){
      var data = {{ data|tojson }};
      var columns = {{ columns|tojson }};

      $(function() {
        $('#table').bootstrapTable({ 
          data: data,
          columns: columns,
        });

      });
    });
  </script>
  <div class="container" style="padding: 10px; ">
    <h1>{{title}}</h1>
    <br/>
    <div id="toolbar"></div>
    <table
      id="table"
      data-toggle="true"
      data-toolbar="#toolbar"
      data-search="true"
      data-show-columns="true"
      data-pagination="true"
      data-height="500">
    </table>
  </div>
{% endblock %}